/*Feb20.2024_10:08am*/
body {
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 15px;
    color: #231f20;
    font-family: 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    line-height: 1.25;
    
    
    
}

header {
    padding-bottom: 150px;
}

.Banner_title {
    background-color: blueviolet;
}

.ParallaxVideo video{ 
    min-width: 100%;
    position: fixed;
    top: 15vh;
    z-index: -999;
    opacity: 0.5;
}

/* To Override PicoCSS styles */
/* Check styles at: https://github.com/picocss/pico/blob/master/css/themes/default.css */
:root {
    /* The spacing gives a padding on the areas or sections*/
    --spacing: 0rem;
}


.feature {
    padding-top: 15vh;
    padding-bottom: 15vh;
    text-align: center;
    
}
/*For Parallax Area*/
.ParallaxImage {
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .ParallaxImage h1 {
    font-weight: 700;
    font-size: 76px;
    text-align: center;
    text-transform: uppercase;
    
  }
  .bg1 {
    background-image: url("https://static.wixstatic.com/media/ffc1bf_30b12f4feddd4134900b2ec457c91e91~mv2.jpg/v1/crop/x_184,y_0,w_1408,h_2075/fill/w_336,h_495,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/M%20cotowebsite_edited.jpg");
  }
  .bg2 {
    background-image: url("https://static.wixstatic.com/media/ffc1bf_30b12f4feddd4134900b2ec457c91e91~mv2.jpg/v1/crop/x_184,y_0,w_1408,h_2075/fill/w_336,h_495,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/M%20cotowebsite_edited.jpg");
  }
  

  .ParallaxContent {
    background: none repeat scroll 0 0 #eeeedd;
    
    /*color:#FFF;*/	
    padding-top: 50px;
    /*height:600px;*/
    padding-bottom: 100px;
  } 
  .ParallaxContent h2{
      color: rgb(56, 52, 27);		
  }

  .ParallaxVideo{ 
    
    padding-bottom: 50px;
    padding-top: 50px; 
    }
    .ParallaxVideo video{ 
    min-width: 100%;
    position: fixed;
    top: 15vh;
    z-index: -999;
    opacity: 0.5;
    }
    .ParallaxVideo h1 {
      color: #fff;
      font-size: 76px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }

    .Manuel {
      margin: auto;
      
    }
    
    .banner_image {
      padding-left: 5px;
    }
    
    .Manuel2 {
      margin: auto;
    }

    article {
      padding-left: 35px;
    }

    .ArticleUberUns {
      margin: auto;
      padding-right: 150px;
     
    }
  
    footer {
        background-color: rgb(207, 194, 194);
        padding-left: 150px;
        font-family:'Raleway';
        font-size: 20px;
        font-weight: 700;
        padding-left: 15px;
        padding-top: 150px;
        margin-top: 15%;
    }

    ul.submenu { 
        display: none; 
    } 
       
    ul li:hover > ul.submenu { 
        display: block; 
    } 

    .nav  {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    .nav li {
      float: left;
   }

   .nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav li a:hover:not(.active) {
    background-color: #111;
  }
  
  .nav li a.active {
    float: right;
  }
  
  .active {
    background-color: #C8C191;
  }
   
    

    
